<div class="filters-bar">

    <div class="search-box">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Search by course name..." [ngModel]="searchTerm"
            (ngModelChange)="searchChange.emit($event)" />
    </div>

    <select class="select-box" [ngModel]="selectedStatus" (ngModelChange)="statusChange.emit($event)">
        <option value="">All Statuses</option>
        @for (s of statuses; track s) {
        <option [value]="s">{{ s }}</option>
        }
    </select>

    <select class="select-box" [ngModel]="selectedSort" (ngModelChange)="sortChange.emit($event)">
        <option value="" disabled>Sort By</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="duration">Duration</option>
        <option value="createdDate">Created Date</option>
    </select>

</div>