<form [formGroup]="courseForm" (ngSubmit)="submit()" class="course-form">

    <div class="form-card">

        <div class="form-header">
            <h3>{{ isEditMode ? 'Edit Course' : 'Add Course' }}</h3>
        </div>

        <div class="form-body">

            <!-- Row: Course Name, Instructor, Category, Status -->
            <div class="field-row-2">

                <div class="field-group">
                    <label>Course Name</label>
                    <input type="text" formControlName="courseName" placeholder="e.g. Angular Fundamentals">

                    @if(f['courseName'].touched && f['courseName'].errors?.['required']) {
                    <small class="error-text">Course name is required</small>
                    }
                    @if(f['courseName'].touched && f['courseName'].errors?.['minlength']) {
                    <small class="error-text">Minimum 3 characters required</small>
                    }
                </div>

                <div class="field-group">
                    <label>Instructor Name</label>
                    <input type="text" formControlName="instructorName" placeholder="e.g. Ahmed Ali">

                    @if(f['instructorName'].touched && f['instructorName'].errors?.['required']) {
                    <small class="error-text">Instructor name is required</small>
                    }
                </div>


            </div>
            <div class="field-row-2">

                <div class="field-group">
                    <label>Category</label>
                    <input type="text" formControlName="category" placeholder="e.g. Frontend">

                    @if(f['category'].touched && f['category'].errors?.['required']) {
                    <small class="error-text">Category is required</small>
                    }
                </div>

                <div class="field-group">
                    <label>Status</label>
                    <select formControlName="status">
                        <option value="">Select status</option>
                        <option value="Active">Active</option>
                        <option value="Draft">Draft</option>
                        <option value="Archived">Archived</option>
                    </select>

                    @if(f['status'].touched && f['status'].errors?.['required']) {
                    <small class="error-text">Status is required</small>
                    }
                </div>
            </div>

            <!-- Row: Duration, Price -->
            <div class="field-row-2">

                <div class="field-group">
                    <label>Duration (Hours)</label>
                    <input type="number" formControlName="duration" placeholder="0">

                    @if(f['duration'].touched && f['duration'].errors?.['required']) {
                    <small class="error-text">Duration is required</small>
                    }
                    @if(f['duration'].touched && f['duration'].errors?.['min']) {
                    <small class="error-text">Must be greater than 0</small>
                    }
                </div>

                <div class="field-group">
                    <label>Price</label>
                    <input type="number" formControlName="price" placeholder="0">

                    @if(f['price'].touched && f['price'].errors?.['required']) {
                    <small class="error-text">Price is required</small>
                    }
                    @if(f['price'].touched && f['price'].errors?.['min']) {
                    <small class="error-text">Cannot be negative</small>
                    }
                </div>

            </div>

            <!-- Description -->
            <div class="field-group">
                <label>Description</label>
                <textarea rows="4" formControlName="description"
                    placeholder="Optional course description..."></textarea>

                <div class="field-footer">
                    <small class="char-count">{{ courseForm.get('description')?.value?.length || 0 }}/500</small>
                </div>

                @if(f['description'].errors?.['maxlength']) {
                <small class="error-text">Maximum 500 characters allowed</small>
                }
            </div>

        </div>

        <div class="form-footer">
            <button type="button" class="btn-cancel" (click)="goBack()">Cancel</button>
            <button type="submit" class="btn-submit">{{ isEditMode ? 'Update Course' : 'Add Course' }}</button>
        </div>

    </div>

</form>